{include file='public/link-css'}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-fileupload.css"/>
<!--<link href="__PUBLIC__/css/main.css" rel="stylesheet">-->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
{include file='public/header'}
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    {include file='public/left-menu'}
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div id="portlet-config" class="modal hide">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"></button>
                <h3>Widget Settings</h3>
            </div>
            <div class="modal-body">
                <p>Here will be a configuration form</p>
            </div>
        </div>
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-reorder"></i>经销商信息</div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>
                            </div>
                            <div class="tools" style="position: relative;right: 0;top: -9px;">
                                <a href="{:url('Dealer/dealer_list')}">
                                    <button type="button" class="btn blue" style="margin-right: 10px;">返回</button>
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body form ">
                            <!-- BEGIN FORM-->
                            {volist name='dealer_info' id='di'}
                            <form action="{:url('Dealer/dealer_info_add')}" id="form_sample_2" method="post"
                                  class="form-horizontal" enctype="multipart/form-data">
                                <div class="control-group">
                                    <div class="controls" data-toggle="tooltip">
                                        <label class="control-label">会员姓名<span class="required">*</span></label>
                                        <input type="text" name="username" data-required="1" class="span4 m-wrap"
                                               value="{$di.dname}" readonly/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">性别<span class="required">*</span></label>
                                        <input type="text" name="dsex" class="span4 m-wrap"
                                               value="{$di.dsex==0 ? '男' : '女'}" readonly/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">正面照片<span class="required">*</span></label>
                                        <img src="__PUBLIC__/{$di.dpath}/{$di.dimg}" alt=""
                                             width="80"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls" data-toggle="tooltip">
                                        <label class="control-label">身份证号<span class="required">*</span></label>
                                        <input type="text" name="cardnum" data-required="1" class="span4 m-wrap"
                                               value="{$di.dcardnum}" readonly/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">身份证<span class="required">*</span></label>
                                        <img src="__PUBLIC__/{$di.dpath}/{$di.dcdimg}" alt=""
                                             width="80" disabled="disabled"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">手机号<span class="required">*</span></label>
                                        <input name="mobel" type="text" class="span4 m-wrap"
                                               value="{$di.dmobel}" readonly/>
                                    </div>
                                </div>
                                <div class="control-group ">
                                    <div class="controls">
                                        <label class="control-label">所属地区<span class="required">*</span></label>
                                        <input type="text" class="span4 m-wrap"
                                               value="{$di.province}{$di.city}{$di.district}"
                                               readonly>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">所属招商经理<span class="required">*</span></label>
                                        <input type="text" class="span4 m-wrap" value="{$di.mname}" readonly>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">登入账号<span class="required">*</span></label>
                                        <input type="text" class="span4 m-wrap" value="{$di.duname}" readonly>
                                    </div>
                                </div>
                            </form>
                            {/volist}
                            <!-- END FORM-->
                        </div>
                    </div>
                    <!-- END VALIDATION STATES-->
                </div>
            </div>
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- BEGIN PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{include file='public/footer'}
<!-- END FOOTER -->
</body>
{include file='public/script-js'}
</html>