{include file='Public/link_css'}
<!-- PRELOAD -->
<div id="preload" class="preload">
    <div class="flat"></div>
    <div class="square"></div>
    <div class="square-2"></div>
    <div class="square-3"></div>
    <div class="square-4"></div>
</div>
<!-- /END PRELOAD -->
<!-- HEADER 3 -->
{include file='Public/header'}<!-- /header -->
<!-- END / HEADER 4 -->
<div id="page-wrap">
    <!-- SUB HEADER -->
    <section id="sub-header" class="section bg-parallax pt-80 pb-0" data-background="">
        <div class="bg-overlay-black bg-overlay-5"></div>
        <div class="container">
            <div class="sub-wrapper">
                <h1>News</h1>
                <h4>If you’d like to talk to us about a project, or anything else, we’d love to hear from you.</h4>
                <!--<div class="breadcrumb-container clearfix">-->
                    <!--<span> </span>-->
                    <!--<ul class="breadcrumb">-->
                        <!--<li><a href="#">Home</a></li>-->
                        <!--<li><a href="#">Page</a></li>-->
                        <!--<li>News</li>-->
                    <!--</ul>-->
                </div><!-- /breadcrumb -->
            </div><!-- /sub-wrapper -->
        </div><!-- /container -->
    </section>
    <!-- END / SUB HEADER -->
    <!-- CONTENT -->
    <section class="section bg-white pt-70 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div id="content" class="site-content">
                        <main id="main">
                            <article class="post format-standard">
                                <div class="post-thumbnail">
                                    <img src="__PUBLIC__/img/news/1.jpg" alt="" />
                                    <a href="news-single.html" class="overlay"></a>
                                    <span class="latest">New</span>
                                </div><!--/ post-thumbnail -->

                                <header class="entry-header">
                                    <h2 class="entry-title h4"><a href="news-single.html">Someone strange from Eden coming with us today</a></h2>
                                    <span class="byline">Posted by <a href="#">Hozier</a> - </span>
                                    <span class="posted-on"><a href="#">2 days ago</a> - </span>
                                    <span>Posted in <a href="#">Construction</a>, <a href="#">General Information</a></span>
                                </header><!-- /header -->

                                <div class="entry-content">
                                    <p>Tut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum. commodo consequat. Duis Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea. Commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate...  <a href="news-single.html" class="more-link">Read more</a></p>
                                </div><!-- /entry-content -->

                                <footer class="entry-footer">
                                    <span class="favourite"><i class="ilmosys-heart"></i> 96 Views</span>
                                    <span class="comments-link"><i class="ilmosys-right-4"></i> <a href="#">12 Comments</a></span>
                                    <span class="share-link"><i class="ilmosys-share-window"></i> <a href="#">Shares</a></span>
                                </footer><!-- /entry-footer -->
                            </article><!-- /post -->

                            <article class="post format-standard">
                                <div class="post-thumbnail">
                                    <img src="__PUBLIC__/img/news/2.jpg" alt="" />
                                    <a href="news-single.html" class="overlay"></a>
                                </div><!--/ post-thumbnail -->

                                <header class="entry-header">
                                    <h2 class="entry-title h4"><a href="news-single.html">Someone strange from Eden coming with us today</a></h2>
                                    <span class="byline">Posted by <a href="#">Hozier</a> - </span>
                                    <span class="posted-on"><a href="#">2 days ago</a> - </span>
                                    <span>Posted in <a href="#">Construction</a>, <a href="#">General Information</a></span>
                                </header><!-- /header -->

                                <div class="entry-content">
                                    <p>Tut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum. commodo consequat. Duis Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea. Commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate...  <a href="news-single.html" class="more-link">Read more</a></p>
                                </div><!-- /entry-content -->

                                <footer class="entry-footer">
                                    <span class="favourite"><i class="ilmosys-heart"></i> 96 Views</span>
                                    <span class="comments-link"><i class="ilmosys-right-4"></i> <a href="#">12 Comments</a></span>
                                    <span class="share-link"><i class="ilmosys-share-window"></i> <a href="#">Shares</a></span>
                                </footer><!-- /entry-footer -->
                            </article><!-- /post -->

                            <article class="post format-standard">
                                <div class="post-thumbnail">
                                    <img src="__PUBLIC__/img/news/3.jpg" alt="" />
                                    <a href="news-single.html" class="overlay"></a>
                                </div><!--/ post-thumbnail -->

                                <header class="entry-header">
                                    <h2 class="entry-title h4"><a href="news-single.html">Someone strange from Eden coming with us today</a></h2>
                                    <span class="byline">Posted by <a href="#">Hozier</a> - </span>
                                    <span class="posted-on"><a href="#">2 days ago</a> - </span>
                                    <span>Posted in <a href="#">Construction</a>, <a href="#">General Information</a></span>
                                </header><!-- /header -->

                                <div class="entry-content">
                                    <p>Tut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum. commodo consequat. Duis Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea. Commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate...  <a href="news-single.html" class="more-link">Read more</a></p>
                                </div><!-- /entry-content -->

                                <footer class="entry-footer">
                                    <span class="favourite"><i class="ilmosys-heart"></i> 96 Views</span>
                                    <span class="comments-link"><i class="ilmosys-right-4"></i> <a href="#">12 Comments</a></span>
                                    <span class="share-link"><i class="ilmosys-share-window"></i> <a href="#">Shares</a></span>
                                </footer><!-- /entry-footer -->
                            </article><!-- /post -->


                            <!-- PAGENAVI -->
                            <nav class="pager">
                                <ul class="pagination">
                                    <li><a href="#" class="page-numbers prev"><span class="fa fa-angle-double-left"></span></a></li>
                                    <li><span class="page-numbers current">1</span></li>
                                    <li><a href="#" class="page-numbers">2</a></li>
                                    <li><span class="page-numbers dotted">...</span></li>
                                    <li><a href="#" class="page-numbers">12</a></li>
                                    <li><a href="#" class="page-numbers next"><span class="fa fa-angle-double-right"></span></a></li>
                                </ul>
                            </nav>
                            <!-- END / PAGENAVI -->
                        </main>
                    </div><!-- /site-content -->
                </div><!-- /col -->

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div id="sidebar" class="sidebar">
                        <div id="widget-area">
                            <aside class="widget widget_search">
                                <form action="#" method="post">
                                    <div class="input-group">
                                        <input type="search" class="search-field" placeholder="Search..." value="" name="s" title="Search for:">
                                        <span class="input-group-btn"><button type="submit" class="btn"><span class="fa fa-search"></span></button></span>
                                    </div>
                                </form>
                            </aside><!-- /widget_search -->

                            <aside class="widget widget_categories">
                                <h3 class="widget-title h5">Categories</h3>
                                <ul>
                                    <li class="cat-item">
                                        <a href="#1">Doctors (1)</a>
                                        <ul class="children">
                                            <li class="cat-item">
                                                <a href="#sub-1">Sub menu 1 (2)</a>
                                            </li>
                                            <li class="cat-item">
                                                <a href="#sub-2">Sub menu 2 (4)</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Food (3)</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Medicine (2)</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Drugs (1)</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Hospitals (2)</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Travel (2)</a>
                                    </li>
                                </ul>
                            </aside><!-- /widget_categories -->

                            <aside class="widget widget_recent_entries">
                                <h3 class="widget-title h5">Recent Posts</h3>
                                <ul>
                                    <li>
                                        <a href="news-single.html" title="How to improve and refine">
                                            <img src="__PUBLIC__/img/post/1.jpg" alt="">
                                            <span class="title" data-number-line="2">How to improve and refine construct...</span>
                                        </a>
                                        <span class="date">January 9, 2017</span>
                                    </li>
                                    <li>
                                        <a href="news-single.html" title="Someone strange from Eden coming with us today">
                                            <img src="__PUBLIC__/img/post/2.jpg" alt="">
                                            <span class="title" data-number-line="2">Someone strange from Eden...</span>
                                        </a>
                                        <span class="date">January 10, 2017</span>
                                    </li>
                                    <li>
                                        <a href="news-single.html" title="How to improve and refine">
                                            <img src="__PUBLIC__/img/post/3.jpg" alt="">
                                            <span class="title" data-number-line="2">How to improve and refine</span>
                                        </a>
                                        <span class="date">January 11, 2017</span>
                                    </li>
                                    <li>
                                        <a href="news-single.html" title="Refine and improve your skill">
                                            <img src="__PUBLIC__/img/post/4.jpg" alt="">
                                            <span class="title" data-number-line="2">Refine and improve your skill</span>
                                        </a>
                                        <span class="date">January 12, 2017</span>
                                    </li>
                                    <li>
                                        <a href="news-single.html" title="Trick: How to make impress headhunter">
                                            <img src="__PUBLIC__/img/post/5.jpg" alt="">
                                            <span class="title" data-number-line="2">Trick: How to make impress headhunter</span>
                                        </a>
                                        <span class="date">January 14, 2017</span>
                                    </li>
                                </ul>
                            </aside><!-- /widget_recent_entries -->

                            <aside class="widget widget_tag_cloud">
                                <h3 class="widget-title h5">Popular Tags</h3>
                                <div class="tagcloud clearfix">
                                    <a href="#">Medicine</a>
                                    <a href="#">Hospital</a>
                                    <a href="#">Medicine Drugs</a>
                                    <a href="#">Lorem Ipsum</a>
                                    <a href="#">Fruits</a>
                                    <a href="#">Free medicine</a>
                                    <a href="#">Dessert</a>
                                    <a href="#">Food</a>
                                    <a href="#">Doctors</a>
                                    <a href="#">Client</a>
                                    <a href="#">Dessert</a>
                                    <a href="#">Food</a>
                                </div>
                            </aside><!-- /widget_tag_cloud -->

                            <aside class="widget widget_tweet">
                                <h3 class="widget-title h5">Recent Tweet</h3>
                                <ol>
                                    <li>
                                        <h5><a href="#">#Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></h5>
                                        <div class="sub-tweet">
                                            <a href="#">http://bly.shotlinks.com</a>
                                        </div>
                                        <h6>January 2, 2017</h6>
                                    </li>

                                    <li>
                                        <h5><a href="#">#Learn how creative agency VOON uses @EnvatoMarket items to create ads for Hyundai &amp; Mitsubishi ... </a></h5>
                                        <div class="sub-tweet">
                                            <a href="#">http://bly.shotlinks.com</a>
                                        </div>
                                        <h6>January 2, 2017</h6>
                                    </li>

                                    <li>
                                        <h5><a href="#">#Learn how creative agency </a></h5>
                                        <div class="sub-tweet">
                                            <a href="#">http://bly.shotlinks.com</a>
                                            <a href="#">http://bly.shotlinks.com</a>
                                        </div>
                                        <h6>January 2, 2017</h6>
                                    </li>
                                </ol>
                            </aside><!-- /widget_tweet -->
                        </div><!-- /widget-area -->
                    </div><!-- /sidebar -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / CONTENT -->

    <!-- FOOTER -->
    {include file='Public/footer'}
    <!-- END / FOOTER -->
</div><!-- /page-wrap -->
{include file='Public/script_js'}
