<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=devanagari,latin-ext" rel="stylesheet"> 

    <!-- CSS LIBRARY -->
    <!-- Bootstrap -->
    <link type="text/css" href="css/lib/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="css/lib/jquery.bootstrap-touchspin.min.css" rel="stylesheet">

    <!-- Font Icon -->
    <link type="text/css" href="css/lib/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="css/css/style.css" rel="stylesheet">

    <!-- Revolution Slider -->
    <link type="text/css" href="rs-plugin/css/settings.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link type="text/css" href="css/lib/owl.carousel.css" rel="stylesheet">

    <!-- Select into div -->
    <link type="text/css" href="css/lib/select2.min.css" rel="stylesheet">

    <!-- Magnific Popup -->
    <link type="text/css" href="css/lib/magnific-popup.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link type="text/css" href="css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>Single Post</title>
</head>

<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

<!-- PRELOAD -->
<div id="preload" class="preload">
    <div class="flat"></div>
    <div class="square"></div>
    <div class="square-2"></div>
    <div class="square-3"></div>
    <div class="square-4"></div>
</div>
<!-- /END PRELOAD -->

<!-- HEADER 4 -->
<header class="header head4">
    <div class="searchbar searchbar-light">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-search"></span></span>
                <input type="text" name="search" value="" placeholder="Search" />
                <span class="input-group-btn"><button type="button" class="btn-close"></button></span>
            </div><!-- /input-group -->
        </div><!-- /container -->
    </div><!-- /searchbar -->

    <div class="top-header top-header-2">
        <div class="container">
            <div class="top-left">
                <ul class="social-header-1">
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                    <li><a href="#"><span class="fa fa-stumbleupon"></span></a></li>
                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                </ul><!-- /social-header -->
            </div><!-- /top-left -->
            <div class="top-right">
                <ul class="info-header">
                    <li><span class="fa fa-globe"></span>Language: English</li>
                    <li><span class="fa fa-phone-square"></span>+(123) 45678910</li>
                    <li><span class="fa fa-clock-o"></span>Mon - Sat: 9:00 - 18:00</li>
                </ul><!-- /info-header -->
            </div><!-- /top-right -->
        </div><!-- /container -->
    </div><!-- /top-header -->

    <div class="main-header main-header-4">
        <div class="container">
            <!-- LOGO -->
            <div class="logo">
                <a href="#"><img src="img/logo_white_txt.png" alt="logo" /></a>
            </div><!-- /#logo -->
            <!-- END / LOGO -->

            <!-- MOBILE MENU -->
            <div class="mobile-nav-menu" data-menu-number="4">
                <span class="icon">&nbsp;</span>
            </div><!-- /mobile-nav-menu -->
            <!-- /END MOBILE MENU -->

            <!-- SEARCH BUTTON -->
            <div class="search-btn"><span class="fa fa-search"></span></div>
            <!-- END / SEARCH BUTTON -->

            <!-- NAVIGATION -->
            <nav class="navigation nav4" data-menu-type="1199">
                <ul class="nav text-uppercase">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about-us.html">Who we are</a></li>
                    <li><a href="service.html">Services</a></li>
                    <li><a href="news.html">News</a></li>
					<li><a href="news-single.html">Single</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                </ul><!-- /nav -->
            </nav>
            <!-- END / NAVIGATION -->
        </div><!-- /container -->
    </div><!-- /main-header -->
</header><!-- /header -->
<!-- END / HEADER 4 -->
<div id="page-wrap">
    <!-- SUB HEADER -->
    <section id="sub-header" class="section bg-parallax pt-80 pb-0" data-background="img/bg/pagebg2.jpg">
        <div class="bg-overlay-black bg-overlay-5"></div>
        <div class="container">
            <div class="sub-wrapper">
                <h1>News</h1>
                <h4>If you’d like to talk to us about a project, or anything else, we’d love to hear from you.</h4>

                <div class="breadcrumb-container clearfix">
                    <span></span>
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">News</a></li>
                        <li>News Single</li>
                    </ul>
                </div><!-- /breadcrumb -->
            </div><!-- /sub-wrapper -->
        </div><!-- /container -->
    </section>
    <!-- END / SUB HEADER -->

    <!-- CONTENT -->
    <section class="section bg-white pt-70 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div id="content" class="site-content">
                        <main id="main">
                            <article class="post format-standard mb-40">
                                <div class="post-thumbnail">
                                    <img src="img/news/1.jpg" alt="" />
                                    <!-- <a href="news-single.html" class="overlay"><i class="fa fa-link"></i></a> -->
                                    <span class="latest">New</span>
                                </div><!--/ post-thumbnail -->

                                <header class="entry-header">
                                    <h2 class="entry-title h4"><a href="news-single.html">Someone strange from Eden coming with us today</a></h2>
                                    <span class="byline">Posted by <a href="#">Hozier</a> - </span>
                                    <span class="posted-on"><a href="#">2 days ago</a> - </span>
                                    <span>Posted in <a href="#">Construction</a>, <a href="#">General Information</a></span>
                                </header><!-- /header -->

                                <div class="entry-content">
                                    <p>Tut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum. commodo consequat. Duis Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea. Commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate. Bommodo consequat. Tut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum. commodo consequat. Duis Quis nostrud exerci tation ullamcorper suscipit. Tut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum. commodo consequat.</p>
                                    <blockquote>
                                        <p>Tut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum. commodo consequat. Duis Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea. Commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate. Bommodo consequat... </p>
                                    </blockquote>
                                    <p>Duis Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea. Commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate. Tut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum. commodo consequat. Duis Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea. Commodo consequat. Duis autem vel eum iriure.</p>
                                    <br />
                                    <p>Tut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum. commodo consequat. Duis Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea. Commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate. Bommodo consequat...</p>
                                    <br />
                                </div><!-- /entry-content -->

                                <footer class="entry-footer">
                                    <span class="tags-links"><i class="ilmosys-tag"></i> Tags: <a href="#">Hospital</a>, <a href="#">Medical Drugs</a>, <a href="#">Structure</a></span>

                                    <span class="share-link"><i class="ilmosys-share-window"></i> <a href="#">Shares</a></span>
                                </footer><!-- /entry-footer -->
                            </article><!-- /post -->

                            <!-- AUTHOR -->
                            <div class="page-grid">
                                <!-- GRID 9 COLUMNS -->
                                <div class="page-media col-2 static">
                                    <img src="img/team/1.jpg" alt="" />
                                </div><!-- /page-media -->

                                <div class="page-content col-7">
                                    <h2 class="h5 text-uppercase">John Doe</h2>
                                    <p>John Doe is an aspiring artist and designer with a passion for the written word. Currently a student at the Rhode Island School of Design (RISD) majoring in Industrial Design, she enjoys heavy snowfalls and tackling assignments that make an insurmountable mess. </p>
                                    <br />
                                    <ul class="social-list">
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-flickr"></span></a></li>
                                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    </ul>
                                </div><!-- /page-content -->
                            </div><!-- /page-grid -->

                            <div class="divider thick light pt-0"></div>

                            <!-- COMMENT -->
                            <div id="comments" class="comments-area">
                                <h2 class="section-header">15 comments</h2>
                                <ol class="comment-list">
                                    <li class="comment parent">
                                        <article class="comment-body clearfix">
                                            <div class="comment-author-avatar">
                                                <img src="img/team/1.jpg" alt="" />
                                            </div><!-- /author-avatar -->

                                            <div class="main-comment">
                                                <header class="comment-meta">
                                                    <div class="comment-author">
                                                        <b class="fn">John Doe</b>
                                                        <span class="date">January 10, 2017</span>
                                                    </div><!-- /comment-author -->
                                                </header><!-- /comment-meta -->

                                                <div class="comment-content">
                                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                                </div><!-- /comment-content -->

                                                <footer class="comment-reply">
                                                    <a href="#" class="static">Like: 15</a>
                                                    <a href="#" class="comment-reply-link">Reply</a>
                                                </footer><!-- /comment-reply -->
                                            </div><!-- /main-comment -->
                                        </article><!-- /comment-body -->

                                        <ol class="children">
                                            <li class="comment">
                                                <article class="comment-body clearfix">
                                                    <div class="comment-author-avatar">
                                                        <img src="img/team/2.jpg" alt="" />
                                                    </div><!-- /author-avatar -->

                                                    <div class="main-comment">
                                                        <header class="comment-meta">
                                                            <div class="comment-author">
                                                                <b class="fn">Patsy</b>
                                                                <span class="date">January 10, 2017</span>
                                                            </div><!-- /comment-author -->
                                                        </header><!-- /comment-meta -->

                                                        <div class="comment-content">
                                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                                        </div><!-- /comment-content -->

                                                        <footer class="comment-reply">
                                                            <a href="#" class="static">Like: 2</a>
                                                            <a href="#" class="comment-reply-link">Reply</a>
                                                        </footer><!-- /comment-reply -->
                                                    </div><!-- /main-comment -->
                                                </article><!-- /comment-body -->
                                            </li><!-- /comment (children) -->

                                            <li class="comment">
                                                <article class="comment-body clearfix">
                                                    <div class="comment-author-avatar">
                                                        <img src="img/team/3.jpg" alt="" />
                                                    </div><!-- /author-avatar -->

                                                    <div class="main-comment">
                                                        <header class="comment-meta">
                                                            <div class="comment-author">
                                                                <b class="fn">Agatha</b>
                                                                <span class="date">January 11, 2017</span>
                                                            </div><!-- /comment-author -->
                                                        </header><!-- /comment-meta -->

                                                        <div class="comment-content">
                                                            <p>Thank you!</p>
                                                        </div><!-- /comment-content -->

                                                        <footer class="comment-reply">
                                                            <a href="#" class="static">Like: 0</a>
                                                            <a href="#" class="comment-reply-link">Reply</a>
                                                        </footer><!-- /comment-reply -->
                                                    </div><!-- /main-comment -->
                                                </article><!-- /comment-body -->
                                            </li><!-- /comment (children) -->
                                        </ol><!-- /children -->
                                    </li><!-- /comment -->

                                    <li class="comment">
                                        <article class="comment-body clearfix">
                                            <div class="comment-author-avatar">
                                                <img src="img/team/4.jpg" alt="" />
                                            </div><!-- /comment-author-avatar -->

                                            <div class="main-comment">
                                                <header class="comment-meta">
                                                    <div class="comment-author">
                                                        <b class="fn">Ben Parker</b>
                                                        <span class="date">January 12, 2017</span>
                                                    </div><!-- /comment-author -->
                                                </header><!-- /comment-meta -->

                                                <div class="comment-content">
                                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                                </div><!-- /comment-content -->

                                                <footer class="comment-reply">
                                                    <a href="#" class="static">Like: 11</a>
                                                    <a href="#" class="comment-reply-link">Reply</a>
                                                </footer><!-- /comment-reply -->
                                            </div><!-- /main-comment -->
                                        </article><!-- /comment-body -->
                                    </li><!-- /comment -->

                                    <li class="comment">
                                        <article class="comment-body clearfix">
                                            <div class="comment-author-avatar">
                                                <img src="img/team/5.jpg" alt="" />
                                            </div><!-- /comment-author-avatar -->

                                            <div class="main-comment">
                                                <header class="comment-meta">
                                                    <div class="comment-author">
                                                        <b class="fn">Paul Walker</b>
                                                        <span class="date">January 12, 2017</span>
                                                    </div><!-- /comment-author -->
                                                </header><!-- /comment-meta -->

                                                <div class="comment-content">
                                                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                                </div><!-- /comment-content -->

                                                <footer class="comment-reply">
                                                    <a href="#" class="static">Like: 4</a>
                                                    <a href="#" class="comment-reply-link">Reply</a>
                                                </footer><!-- /comment-reply -->
                                            </div><!-- /main-comment -->
                                        </article><!-- /comment-body -->
                                    </li><!-- /comment -->
                                </ol><!-- /comment-list -->

                                <!-- RESPOND -->
                                <div id="respond" class="comment-respond">
                                    <h2 class="section-header">Post your comment</h2>

                                    <form action="#" method="get">
                                        <div class="group clearfix">
                                            <div class="group-item mb-30">
                                                <input type="text" name="name" value="" placeholder="Name" />
                                            </div><!-- /group-item -->

                                            <div class="group-item mb-30">
                                                <input type="text" name="phone" value="" placeholder="Phone" />
                                            </div><!-- /group-item -->
                                        </div><!-- /group -->

                                        <input type="email" name="email" value="" placeholder="Email" class="mb-30" />

                                        <textarea name="message" placeholder="Message"></textarea>

                                        <button type="submit" class="btn btn-primary radius">Send message</button>
                                    </form>
                                </div>
                            </div><!-- /comment-area -->
                        </main>
                    </div><!-- /site-content -->
                </div><!-- /col -->

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div id="sidebar" class="sidebar">
                        <div id="widget-area">
                            <aside class="widget widget_search">
                                <form action="http://envato.megadrupal.com/html/shifa/search" method="post">
                                    <div class="input-group">
                                        <input type="search" class="search-field" placeholder="Search..." value="" name="s" title="Search for:">
                                        <span class="input-group-btn"><button type="submit" class="btn"><span class="fa fa-search"></span></button></span>
                                    </div>
                                </form>
                            </aside><!-- /widget_search -->

                            <aside class="widget widget_categories">
                                <h3 class="widget-title h5">Categories</h3>
                                <ul>
                                    <li class="cat-item">
                                        <a href="#1">Destination (1)</a>
                                        <ul class="children">
                                            <li class="cat-item">
                                                <a href="#sub-1">Sub menu 1 (2)</a>
                                            </li>
                                            <li class="cat-item">
                                                <a href="#sub-2">Sub menu 2 (4)</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Food (3)</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Landscape (2)</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Nature (1)</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Photography (2)</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Travel (2)</a>
                                    </li>
                                </ul>
                            </aside><!-- /widget_categories -->

                            <aside class="widget widget_recent_entries">
                                <h3 class="widget-title h5">Recent Posts</h3>
                                <ul>
                                    <li>
                                        <a href="news-single.html" title="How to improve and refine">
                                            <img src="img/post/1.jpg" alt="">
                                            <span class="title" data-number-line="2">How to improve and refine construct...</span>
                                        </a>
                                        <span class="date">January 9, 2017</span>
                                    </li>
                                    <li>
                                        <a href="news-single.html" title="Someone strange from Eden coming with us today">
                                            <img src="img/post/2.jpg" alt="">
                                            <span class="title" data-number-line="2">Someone strange from Eden...</span>
                                        </a>
                                        <span class="date">January 10, 2017</span>
                                    </li>
                                    <li>
                                        <a href="news-single.html" title="How to improve and refine">
                                            <img src="img/post/3.jpg" alt="">
                                            <span class="title" data-number-line="2">How to improve and refine</span>
                                        </a>
                                        <span class="date">January 11, 2017</span>
                                    </li>
                                    <li>
                                        <a href="news-single.html" title="Refine and improve your skill">
                                            <img src="img/post/4.jpg" alt="">
                                            <span class="title" data-number-line="2">Refine and improve your skill</span>
                                        </a>
                                        <span class="date">January 12, 2017</span>
                                    </li>
                                    <li>
                                        <a href="news-single.html" title="Trick: How to make impress headhunter">
                                            <img src="img/post/5.jpg" alt="">
                                            <span class="title" data-number-line="2">Trick: How to make impress headhunter</span>
                                        </a>
                                        <span class="date">January 14, 2017</span>
                                    </li>
                                </ul>
                            </aside><!-- /widget_recent_entries -->

                            <aside class="widget widget_tag_cloud">
                                <h3 class="widget-title h5">Popular Tags</h3>
                                <div class="tagcloud clearfix">
                                    <a href="#">Dress</a>
                                    <a href="#">Mini</a>
                                    <a href="#">Skate Animal</a>
                                    <a href="#">Lorem Ipsum</a>
                                    <a href="#">Litterature</a>
                                    <a href="#">Foreign</a>
                                    <a href="#">Dessert</a>
                                    <a href="#">Food</a>
                                    <a href="#">Litterature</a>
                                    <a href="#">Foreign</a>
                                    <a href="#">Dessert</a>
                                    <a href="#">Food</a>
                                </div>
                            </aside><!-- /widget_tag_cloud -->

                            <aside class="widget widget_tweet">
                                <h3 class="widget-title h5">Recent Tweet</h3>
                                <ol>
                                    <li>
                                        <h5><a href="#">#Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></h5>
                                        <div class="sub-tweet">
                                            <a href="#">http://bly.shotlinks.com</a>
                                        </div>
                                        <h6>January 2, 2017</h6>
                                    </li>

                                    <li>
                                        <h5><a href="#">#Learn how creative agency VOON uses @EnvatoMarket items to create ads for Hyundai &amp; Mitsubishi ... </a></h5>
                                        <div class="sub-tweet">
                                            <a href="#">http://bly.shotlinks.com</a>
                                        </div>
                                        <h6>January 2, 2017</h6>
                                    </li>

                                    <li>
                                        <h5><a href="#">#Learn how creative agency </a></h5>
                                        <div class="sub-tweet">
                                            <a href="#">http://bly.shotlinks.com</a>
                                            <a href="#">http://bly.shotlinks.com</a>
                                        </div>
                                        <h6>January 2, 2017</h6>
                                    </li>
                                </ol>
                            </aside><!-- /widget_tweet -->
                        </div><!-- /widget-area -->
                    </div><!-- /sidebar -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / CONTENT -->

    <!-- FOOTER -->
    <footer id="footer" class="footer bg-dark">
        <div class="foot-widget">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <aside class="widget widget_about">
                            <div class="logo">
                                <a href="index.html"><img src="img/logo_white_txt.png" alt="logo" /></a>
                            </div><!-- /#logo -->
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <ul class="social-list-2">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-flickr"></span></a></li>
                                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            </ul>
                        </aside><!-- /widget_about -->
                    </div><!-- /col -->

                    <div class="col-md-3 col-md-push-6 col-sm-6 col-xs-12">
                        <aside class="widget widget_subscribe">
                            <h3 class="footer-title widget-title">News <span>letter</span></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <form action="" method="post">
                                <input type="text" name="name" value="" placeholder="Name" class="black mb-30">
                                <input type="email" name="email" value="" placeholder="Email" class="black mb-30">
                                <button type="submit" class="btn btn-primary">Send message</button>
                            </form>
                        </aside><!-- /widget_subscribe -->
                    </div><!-- /col -->

                    <div class="clearfix hidden-lg hidden-md hidden-xs"></div>

                    <div class="col-md-3 col-md-pull-3 col-sm-6 col-xs-12">
                        <aside class="widget widget_contact">
                             <h3 class="footer-title widget-title">Get in <span>Touch</span></h3>
                            <ul>
                                <li><i class="ilmosys-map2"></i>1_ABCD, near abc city, New Country, Near ABC State</li>
                                <li><i class="ilmosys-telephone"></i>+(123) 45678910</li>
                                <li><i class="ilmosys-mail-2"></i><a href="#">info@yourdomain.com</a></li>
                                <li><i class="ilmosys-smartphone-2"></i>+(123) 45678910</li>
                                <li><i class="ilmosys-split-horizontal"></i>www.yourdomain.com</li>
                            </ul>
                        </aside><!-- /widget_contact -->
                    </div><!-- /col -->

                    <div class="col-md-3 col-md-pull-3 col-sm-6 col-xs-12">
                        <aside class="widget widget_infomation">
                            <h3 class="footer-title widget-title">Working <span>Hours</span></h3>
                            <ul class="list-style">
                                <li><a href="#">Monday: 09:00-02:00</a></li>
                                <li><a href="#">Tuesday: 09:00-02:00</a></li>
                                <li><a href="#">Wednesday: 09:00-02:00</a></li>
                                <li><a href="#">Thursday: 09:00-02:00</a></li>
                                <li><a href="#">Friday: 09:00-02:00</a></li>
                                <li><a href="#">Saturday: 09:00-02:00</a></li>
                            </ul>
                        </aside><!-- /widget_infomation -->
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /foot-widget -->

        <div class="foot-credit">
            <div class="container">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about-us.html">Who we are</a></li>
                    <li><a href="service.html">Services</a></li>
                    <li><a href="news.html">News</a></li>
					<li><a href="news-single.html">Single</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                </ul>
                <p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://www.17sucai.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
            </div><!-- /container -->
        </div><!-- /foot-credit -->
    </footer>
    <!-- END / FOOTER -->
</div><!-- /page-wrap -->

<!-- JQUERY -->
    <script type="text/javascript" src="js/lib/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.bootstrap-touchspin.min.js"></script>

    <!-- Revolution Slider -->
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Owl Carousel -->
    <script type="text/javascript" src="js/lib/owl.carousel.min.js"></script>
    <!-- Overflow Text -->
    <script type="text/javascript" src="js/lib/overflow-text.js"></script>

    <!-- Easing -->
    <script type="text/javascript" src="js/lib/jquery.easing.min.js"></script>

    <!-- Select to div -->
    <script type="text/javascript" src="js/lib/select2.min.js"></script>

    <!-- Parallax -->
    <script type="text/javascript" src="js/lib/jquery.parallax-1.1.3.js"></script>

    <!-- Waypoint -->
    <script type="text/javascript" src="js/lib/waypoints.min.js"></script>

    <!-- Count To -->
    <script type="text/javascript" src="js/lib/jquery.countTo.js"></script>

    <!-- Magnific Popup -->
    <script type="text/javascript" src="js/lib/jquery.magnific-popup.min.js"></script>

    <!-- Image Loaded -->
    <script type="text/javascript" src="js/lib/imagesloaded.pkgd.min.js"></script>

    <!-- Isotope -->
    <script type="text/javascript" src="js/lib/isotope.pkgd.min.js"></script>

    
    <!-- Custom jQuery -->
    <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>
