{include file='public/link-css'}
<body class="page-header-fixed">
{include file='public/header'}
<!-- BEGIN CONTAINER -->
<div class="page-container">
    {include file='public/left-menu'}
    <div class="page-content">
        <div id="portlet-config" class="modal hide">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"></button>
                <h3>Widget Settings</h3>
            </div>
            <div class="modal-body">
                Widget settings form goes here
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">
                        中健保网站后台<small>欢迎您{$Think.session.username}的登录</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home"></i>
                            <a href="{:url('Index/index')}">后台</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{:url('Index/index')}">首页</a></li>
                    </ul>
                </div>
            </div>
            <div id="dashboard"></div>
        </div>
    </div>
</div>
{include file='public/footer'}
{include file='public/script-js'}
</body>
</html>