<section id="home-media" class="section pt-0 pb-0" data-home-media="760">
    <div class="tp-banner-container">
        <div class="tp-banner" >
            <ul>
                <!-- SLIDE 1  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb=""  data-saveperformance="on" data-title="">
                    <!-- MAIN IMAGE -->
                    <img src=""  alt="slidebg1" data-lazyload="__PUBLIC__/img/slider/slide1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption grey_heavy_72 lfl tp-resizeme rs-parallaxlevel-0 tp-headline"
                         data-x="center"
                         data-y="300"
                         data-speed="500"
                         data-start="1350"
                         data-easing="Power3.easeInOut"
                         data-splitin="lines"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption grey_heavy_72 lfr tp-resizeme rs-parallaxlevel-0 tp-headline-3"
                         data-x="center"
                         data-y="370"
                         data-speed="500"
                         data-start="1650"
                         data-easing="Power3.easeInOut"
                         data-splitin="lines"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;">
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption grey_heavy_72 fade tp-resizeme rs-parallaxlevel-0"
                         data-x="center"
                         data-y="440"
                         data-speed="500"
                         data-start="2550"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;">
                    </div>
                </li>
                <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb=""  data-saveperformance="on" data-title="">
                    <!-- MAIN IMAGE -->
                    <img src=""  alt="slidebg1" data-lazyload="__PUBLIC__/img/slider/slide1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption grey_heavy_72 lfl tp-resizeme rs-parallaxlevel-0 tp-headline"
                         data-x="center"
                         data-y="300"
                         data-speed="500"
                         data-start="1350"
                         data-easing="Power3.easeInOut"
                         data-splitin="lines"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption grey_heavy_72 lfr tp-resizeme rs-parallaxlevel-0 tp-headline-3"
                         data-x="center"
                         data-y="370"
                         data-speed="500"
                         data-start="1650"
                         data-easing="Power3.easeInOut"
                         data-splitin="lines"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;">
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption grey_heavy_72 fade tp-resizeme rs-parallaxlevel-0"
                         data-x="center"
                         data-y="440"
                         data-speed="500"
                         data-start="2550"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;">
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div><!-- /tp-banner -->
    </div><!-- /tp-banner-container -->
</section>