<!-- CLIENT -->
<?php
$obj = new app\home\controller\Index();
?>
<section class="section bg-gray bd-b pt-60 pb-60">
    <div class="container">
        <div class="client-slider">
            <div class="client-logo">
                <img src="__PUBLIC__/img/client/1.png" alt="" />
            </div><!-- /client-logo -->
            <div class="client-logo">
                <img src="__PUBLIC__/img/client/2.png" alt="" />
            </div><!-- /client-logo -->
            <div class="client-logo">
                <img src="__PUBLIC__/img/client/3.png" alt="" />
            </div><!-- /client-logo -->
            <div class="client-logo">
                <img src="__PUBLIC__/img/client/4.png" alt="" />
            </div><!-- /client-logo -->
            <div class="client-logo">
                <img src="__PUBLIC__/img/client/5.png" alt="" />
            </div><!-- /client-logo -->
            <div class="client-logo">
                <img src="__PUBLIC__/img/client/6.png" alt="" />
            </div><!-- /client-logo -->
            <div class="client-logo">
                <img src="__PUBLIC__/img/client/4.png" alt="" />
            </div><!-- /client-logo -->
        </div><!-- /client-slider -->
    </div><!-- /container -->
</section>
<!-- END / CLIENT -->
<!-- GET QUOTE -->
<!--<section class="section bg-primary pt-20 pb-20">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-9 col-sm-12 col-xs-12">-->
                <!--<h3 class="play-font mb-0 text-center text-left-md" style="line-height: 2.3em;">-->
                    <!--<span class="fa fa-gift g-icon"></span>-->
                    <!--<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></h3>-->
            <!--</div>&lt;!&ndash; /col &ndash;&gt;-->

            <!--<div class="col-md-3 col-sm-12 col-xs-12">-->
                <!--<div class="text-center text-right-md"><button type="button" class="btn btn-black">Know More</button></div>-->
            <!--</div>&lt;!&ndash; /col &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /row &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /container &ndash;&gt;-->
<!--</section>-->
<!-- END / GET QUOTE -->
<!-- FOOTER -->
<footer id="footer" class="footer bg-dark">
    <div class="foot-widget">
        <div class="container">
            <div class="row">
                <div class="col-md-4  col-sm-6 col-xs-12">
                    <aside class="widget widget_about">
                        <div class="logo">
                            <a href="#"><img src="__PUBLIC__/img/logo_white_txt.png" alt="logo" /></a>
                        </div><!-- /#logo -->
                        <p>健保卡的全称是全民健康保障卡（又称全民健康保障一卡通），是中健保健康管理中心发行的社会福利保障卡。健保卡集补贴、保健、保障、保险、体检、疾病筛查等功能与服务。</p>
                        <ul class="social-list-2">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-flickr"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                    </aside><!-- /widget_about -->
                </div><!-- /col -->

                <div class="clearfix hidden-lg hidden-md hidden-xs"></div>

                <div class="col-md-4  col-sm-6 col-xs-12">
                    <aside class="widget widget_contact">
                        <h3 class="footer-title widget-title">友情 <span>链接</span></h3>
                        <ul>
                            {volist name="$obj->links()" id="vo"}
                            <li><a href="{$vo.url}">{$vo.name}<a href="#"></li>
                            {/volist}
                            <!--<li><i class="ilmosys-telephone"></i>+(123) 45678910</li>
                            <li><i class="ilmosys-mail-2"></i><a href="#">info@yourdomain.com</a></li>
                            <li><i class="ilmosys-smartphone-2"></i>+(123) 45678910</li>
                            <li><i class="ilmosys-split-horizontal"></i>www.yourdomain.com</li>-->
                        </ul>
                    </aside><!-- /widget_contact -->
                </div><!-- /col -->

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <aside class="widget widget_infomation">
                        <h3 class="footer-title widget-title">工作 <span>时间</span></h3>
                        <ul class="list-style">
                            <li><a href="#">星期一: 09:00-17:30</a></li>
                            <li><a href="#">星期二: 09:00-17:30</a></li>
                            <li><a href="#">星期三: 09:00-17:30</a></li>
                            <li><a href="#">星期四: 09:00-17:30</a></li>
                            <li><a href="#">星期五: 09:00-17:30</a></li>
                            <li><a href="#">星期六: 09:00-17:30</a></li>
                        </ul>
                    </aside><!-- /widget_infomation -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /foot-widget -->

    <div class="foot-credit">
        <div class="container">
            <p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://www.zhongjianbao.com/">
                <!--&#x7F51;&#x9875;&#x6A21;&#x677F;-->
                中健保健康管理中心
            </a></p>
        </div><!-- /container -->
    </div> <!--/foot-credit-->
</footer>
<!-- END / FOOTER -->