<header id="header" class="header head1">
    <div class="searchbar searchbar-light">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-search"></span></span>
                <input type="text" name="search" value="" placeholder="Search" />
                <span class="input-group-btn"><button type="button" class="btn-close"></button></span>
            </div><!-- /input-group -->
        </div><!-- /container -->
    </div><!-- /searchbar -->
    <div class="top-header top-header-2">
        <div class="container">
            <div class="top-left">
                <ul class="social-header-1">
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                    <li><a href="#"><span class="fa fa-stumbleupon"></span></a></li>
                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                </ul><!-- /social-header -->
            </div><!-- /top-left -->
            <div class="top-right">
                <ul class="info-header">
                    <li><span class="fa fa-globe"></span>语言：简体中文</li>
                    <li><span class="fa fa-phone-square"></span>400-8929755</li>
                    <li><span class="fa fa-clock-o"></span>周一至周六：9:00-17:30</li>
                </ul><!-- /info-header -->
            </div><!-- /top-right -->
        </div><!-- /container -->
    </div><!-- /top-header -->
    <div class="main-header main-header-1 bd-b-alpha">
        <div class="container">
            <!-- LOGO -->
            <div class="logo">
                <a href="#"><img src="__PUBLIC__/img/logo.png" alt="logo" width="130" height="30"/></a>
            </div><!-- /#logo -->
            <!-- END / LOGO -->
            <!-- MOBILE MENU -->
            <div class="mobile-nav-menu" data-menu-number="1">
                <span class="icon">&nbsp;</span>
            </div><!-- /mobile-nav-menu -->
            <!-- /END MOBILE MENU -->
            <!-- SEARCH BUTTON -->
            <div class="search-btn"><span class="fa fa-search"></span></div>
            <!-- END / SEARCH BUTTON -->
            <!-- NAVIGATION -->
            <nav class="navigation nav4" data-menu-type="1199">
                <ul class="nav text-uppercase">
                    <li><a href="{:url('Index/index')}">首页</a></li>
                    <li><a href="{:url('About/index')}">关于我们</a></li>
                    <li><a href="{:url('Service/index')}">健保专栏</a></li>
                    <li><a href="{:url('News/index')}">健保资讯</a></li>
                    <li><a href="{:url('Goods/index')}">健保目录</a></li>
                    <li><a href="{:url('Contact/index')}">加入我们</a></li>
                </ul><!-- /nav -->
            </nav>
            <!-- END / NAVIGATION -->
        </div><!-- /container -->
    </div><!-- /main-header -->
</header><!-- /header -->
<!--
<header class="header head4">
    <div class="searchbar searchbar-light">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-search"></span></span>
                <input type="text" name="search" value="" placeholder="Search" />
                <span class="input-group-btn"><button type="button" class="btn-close"></button></span>
            </div>&lt;!&ndash; /input-group &ndash;&gt;
        </div>&lt;!&ndash; /container &ndash;&gt;
    </div>&lt;!&ndash; /searchbar &ndash;&gt;

    <div class="top-header top-header-2">
        <div class="container">
            <div class="top-left">
                <ul class="social-header-1">
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                    <li><a href="#"><span class="fa fa-stumbleupon"></span></a></li>
                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                </ul>&lt;!&ndash; /social-header &ndash;&gt;
            </div>&lt;!&ndash; /top-left &ndash;&gt;
            <div class="top-right">
                <ul class="info-header">
                    <li><span class="fa fa-globe"></span>语言：简体中文</li>
                    <li><span class="fa fa-phone-square"></span>400-8929755</li>
                    <li><span class="fa fa-clock-o"></span>周一至周六：9:00-17:30</li>
                </ul>&lt;!&ndash; /info-header &ndash;&gt;
            </div>&lt;!&ndash; /top-right &ndash;&gt;
        </div>&lt;!&ndash; /container &ndash;&gt;
    </div>&lt;!&ndash; /top-header &ndash;&gt;

    <div class="main-header main-header-4">
        <div class="container">
            &lt;!&ndash; LOGO &ndash;&gt;
            <div class="logo">
                <a href="index.html"><img src="__PUBLIC__/img/logo_white_txt.png" alt="logo" /></a>
            </div>&lt;!&ndash; /#logo &ndash;&gt;
            &lt;!&ndash; END / LOGO &ndash;&gt;

            &lt;!&ndash; MOBILE MENU &ndash;&gt;
            <div class="mobile-nav-menu" data-menu-number="4">
                <span class="icon">&nbsp;</span>
            </div>&lt;!&ndash; /mobile-nav-menu &ndash;&gt;
            &lt;!&ndash; /END MOBILE MENU &ndash;&gt;

            &lt;!&ndash; SEARCH BUTTON &ndash;&gt;
            <div class="search-btn"><span class="fa fa-search"></span></div>
            &lt;!&ndash; END / SEARCH BUTTON &ndash;&gt;

            &lt;!&ndash; NAVIGATION &ndash;&gt;
            <nav class="navigation nav4" data-menu-type="1199">
                <ul class="nav text-uppercase">
                    <li><a href="{:url('Index/index')}">首页</a></li>
                    <li><a href="{:url('About/about')}">关于我们</a></li>
                    <li><a href="service.html">Services</a></li>
                    <li><a href="news.html">News</a></li>
                    <li><a href="news-single.html">Single</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                </ul>&lt;!&ndash; /nav &ndash;&gt;
            </nav>
            &lt;!&ndash; END / NAVIGATION &ndash;&gt;
        </div>&lt;!&ndash; /container &ndash;&gt;
    </div>&lt;!&ndash; /main-header &ndash;&gt;
</header>-->
