<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="__PUBLIC__/img/favicon.ico" type="image/x-icon" />
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <!-- CSS LIBRARY -->
    <!-- Bootstrap -->
    <link type="text/css" href="__PUBLIC__/css/lib/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="__PUBLIC__/css/lib/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
    <!-- Font Icon -->
    <link type="text/css" href="__PUBLIC__/css/lib/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="__PUBLIC__/css/style.css" rel="stylesheet">
    <!-- Revolution Slider -->
    <link type="text/css" href="__PUBLIC__/rs-plugin/css/settings.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link type="text/css" href="__PUBLIC__/css/lib/owl.carousel.css" rel="stylesheet">
    <!-- Select into div -->
    <link type="text/css" href="__PUBLIC__/css/lib/select2.min.css" rel="stylesheet">
    <!-- Magnific Popup -->
    <link type="text/css" href="__PUBLIC__/css/lib/magnific-popup.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link type="text/css" href="__PUBLIC__/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>中健保健康管理中心</title>
</head>
<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
