<!-- JQUERY -->
<script type="text/javascript" src="__PUBLIC__/js/lib/jquery-1.11.3.min.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="__PUBLIC__/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/lib/jquery.bootstrap-touchspin.min.js"></script>
<!-- Revolution Slider -->
<script type="text/javascript" src="__PUBLIC__/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- Owl Carousel -->
<script type="text/javascript" src="__PUBLIC__/js/lib/owl.carousel.min.js"></script>
<!-- Overflow Text -->
<script type="text/javascript" src="__PUBLIC__/js/lib/overflow-text.js"></script>
<!-- Easing -->
<script type="text/javascript" src="__PUBLIC__/js/lib/jquery.easing.min.js"></script>
<!-- Select to div -->
<!--<script type="text/javascript" src="__PUBLIC__/js/lib/select2.min.js"></script>-->
<!-- Parallax -->
<script type="text/javascript" src="__PUBLIC__/js/lib/jquery.parallax-1.1.3.js"></script>
<!-- Waypoint -->
<script type="text/javascript" src="__PUBLIC__/js/lib/waypoints.min.js"></script>
<!-- Count To -->
<script type="text/javascript" src="__PUBLIC__/js/lib/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script type="text/javascript" src="__PUBLIC__/js/lib/jquery.magnific-popup.min.js"></script>
<!-- Image Loaded -->
<script type="text/javascript" src="__PUBLIC__/js/lib/imagesloaded.pkgd.min.js"></script>
<!-- Isotope -->
<script type="text/javascript" src="__PUBLIC__/js/lib/isotope.pkgd.min.js"></script>
<!-- Custom jQuery -->
<script type="text/javascript" src="__PUBLIC__/js/scripts.js"></script>
</body>
</html>