{include file='Public/link_css'}
<!-- PRELOAD -->
<div id="preload" class="preload">
    <div class="flat"></div>
    <div class="square"></div>
    <div class="square-2"></div>
    <div class="square-3"></div>
    <div class="square-4"></div>
</div>
<!-- /END PRELOAD -->
<!-- HEADER 1 -->
<header class="header head4">
    <div class="searchbar searchbar-light">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-search"></span></span>
                <input type="text" name="search" value="" placeholder="Search" />
                <span class="input-group-btn"><button type="button" class="btn-close"></button></span>
            </div><!-- /input-group -->
        </div><!-- /container -->
    </div><!-- /searchbar -->
    <div class="main-header main-header-4">
        <div class="container">
            <!-- LOGO -->
            <div class="logo">
                <a href="index.html"><img src="__PUBLIC__/img/logo_white_txt.png" alt="logo" /></a>
            </div><!-- /#logo -->
            <!-- END / LOGO -->

            <!-- MOBILE MENU -->
            <div class="mobile-nav-menu" data-menu-number="4">
                <span class="icon">&nbsp;</span>
            </div><!-- /mobile-nav-menu -->
            <!-- /END MOBILE MENU -->

            <!-- SEARCH BUTTON -->
            <div class="search-btn"><span class="fa fa-search"></span></div>
            <!-- END / SEARCH BUTTON -->

            <!-- NAVIGATION -->
            <nav class="navigation nav4" data-menu-type="1199">
                <ul class="nav text-uppercase">
                    <li><a href="{:url('Index/index')}">首页</a></li>
                    <li><a href="{:url('About/index')}">关于我们</a></li>
                    <li><a href="{:url('Service/index')}">健保专栏</a></li>
                    <li><a href="{:url('News/index')}">健保资讯</a></li>
                    <li><a href="{:url('Goods/index')}">健保目录</a></li>
                    <li><a href="{:url('Contact/index')}">加入我们</a></li>
                </ul><!-- /nav -->
            </nav>
            <!-- END / NAVIGATION -->
        </div><!-- /container -->
    </div><!-- /main-header -->
</header>

<!-- END / HEADER 1 -->

<div id="page-wrap">
    <!-- HOME MEDIA -->
   {include file='Public/banner'}
    <!-- END / HOME MEDIA -->
    <!-- SERVICE -->
    <section class="section bg-white pt-50 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-header">新闻&nbsp;<span>中心</span></div>
                {volist name="article" id="vo"}
                    <div class="post-thumbnail hover-link">
                        <img src="/static/admin/uploads/{$vo.images}" alt="" />
                        <a href="{:url('Article/content','id='.$vo['id'])}" class="overlay"><i class="ilmosys-link-2"></i></a>
                    </div><!--/ post-thumbnail -->
                    <span class="lead"><a href="{:url('Article/content','id='.$vo['id'])}">{$vo.title}</a></span>
                    <div class="mb-30">
                    </div>
                {/volist}
                    <a href="{:url('Article/index')}" class="btn btn-primary radius mb-30 ">了解更多...</a>
                </div><!-- /col -->

                <div class="col-md-4">
                {volist name="dynamic" id="vo"}
                    <div class="section-header">最新&nbsp;<span>动态</span></div>
                    <div class="post-thumbnail hover-link">
                        <img src="/static/admin/uploads/{$vo.images}" alt="" />
                        <a href="{:url('Dynamic/content','id='.$vo['id'])}" class="overlay"><i class="ilmosys-link-2"></i></a>
                    </div><!--/ post-thumbnail -->
                    <span class="lead"><a href="{:url('Dynamic/content','id='.$vo['id'])}">{$vo.title}</a></span>
                    <div class="mb-30">
                    </div>
                    <a href="{:url('Dynamic/index')}" class="btn btn-primary radius mb-30 ">了解更多...</a>
                {/volist}
                </div><!-- /col -->

                <div class="col-md-4">
                {volist name="notice" id="vo"}
                    <div class="section-header">通知&nbsp;<span>公告</span></div>
                    <div class="post-thumbnail hover-link">
                        <img src="/static/admin/uploads/{$vo.images}" alt="" />
                        <a href="{:url('Notice/content','id='.$vo['id'])}" class="overlay"><i class="ilmosys-link-2"></i></a>
                    </div><!--/ post-thumbnail -->
                    <span class="lead"><a href="{:url('Notice/content','id='.$vo['id'])}">{$vo.title}</a></span>
                    <div class="mb-30">
                    </div>
                    <a href="{:url('Notice/index')}" class="btn btn-primary radius mb-30 ">了解更多...</a>
                {/volist}
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / SERVICE -->
   <!--  ICON BOX
    <section class="section bg-gray pt-20 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-3 col-xs-12 pt-70">
                    <div class="shifa-icon">
                        <i class="ilmosys-vpn"></i>
                        <h5 class="title-bold">Online Q & A</h5>
                        <p>A tradition of ethical and honest business conduct is the cornerstone of our business philosophy, and the foundation of our entire organization.</p>
                    </div> /shifa-icon

                    <div class="shifa-icon">
                        <i class="ilmosys-doctor"></i>
                        <h5 class="title-bold">Top Level Doctors</h5>
                        <p>A tradition of ethical and honest business conduct is the cornerstone of our business philosophy, and the foundation of our entire organization.</p>
                    </div> /shifa-icon
                </div> /col

                <div class="col-lg-4 col-sm-3 col-xs-12 pt-70">
                    <div class="shifa-icon">
                        <i class="ilmosys-wrench"></i>
                        <h5 class="title-bold">24 Hour Service</h5>
                        <p>A tradition of ethical and honest business conduct is the cornerstone of our business philosophy, and the foundation of our entire organization.</p>
                    </div> /shifa-icon

                    <div class="shifa-icon">
                        <i class="ilmosys-medical-sign"></i>
                        <h5 class="title-bold">dispense medicine</h5>
                        <p>A tradition of ethical and honest business conduct is the cornerstone of our business philosophy, and the foundation of our entire organization.</p>
                    </div> /shifa-icon
                </div> /col

                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <img src="__PUBLIC__/img/doctor.png" alt="" />
                </div> /col
            </div> /row
        </div> /container
    </section>
     END / ICON BOX -->
    <!-- OUR Team -->
    <section class="section bg-white pt-60 pb-30">
        <div class="container">
            <div class="section-header" data-section-center="767">理赔&nbsp;<span>通知</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:url('Compensate/index')}" class="more-link">更多...</a></div> 
            <div class="row">
            {volist name="compensate" id="vo"}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="team-leader">
                        <div class="avatar hover-link">
                            <img src="/static/admin/uploads/{$vo.images}" alt="" />
                            <a href="{:url('Compensate/content','id='.$vo['id'])}" class="overlay"><i class="ilmosys-link-2"></i></a>
                        </div><!-- /avatar -->
                        <h4 class="h5 title-bold">{$vo.title}</h4>
                        <h5>意外出险原因:{$vo.accident}</h5>
                        <p class="mb-20" data-number-line="5">
                            {$vo.name}
                        </p>
                    </div><!-- /team-leader -->
                </div><!-- /col -->
                {/volist}
                <!--<div class="clearfix visible-sm"></div>-->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / OUR LEADERS -->
    <!-- PORTFOLIO 1 -->
    <section class="section bg-gray pt-60 pb-60">
        <div class="bg-gray"></div>
        <div class="container">
            <div class="section-header" data-section-center="767">我们的<span>产品[推荐]</span></div>
            <!-- FILTER -->
            <ul class="portfolio-selector filters" data-portfolio-type="991">
            <li><a href="#" data-filter="*">全部推荐</a></li>
            {volist name="goods_cate" id="vo"}
                <li><a href="#" data-filter=".{$vo.id}">{$vo.catename}</a></li>
            {/volist}
            </ul><!-- /portfolio-selector -->
            <!-- END / FILTER -->

            <div class="isotope-grid-wrapper" data-isotope-column="4" data-column-gap="30" data-column-md="3" data-column-sm="2" data-column-xs="1" data-column-tn="1">
                <div class="isotope-grid-row">
                    <div class="isotope-grid">
                        <div class="grid-sizer"></div>
                        <!-- <div class="gutter-sizer"></div> -->
                    {volist name="goods" id="vo"}
                        <div class="portfolio-item {$vo.cid}">
                            <div class="portfolio-media hover-link">
                                <img src="/static/admin/uploads/{$vo.imgpath}/{$vo.imgname}" alt="" />
                                <p>{$vo.name}</p>
                                <a href="#" class="overlay"><i class="ilmosys-link-2"></i></a>
                            </div><!-- /hover-link -->
                        </div><!-- /portfolio-item -->
                    {/volist}   
                    </div><!-- /isotope-grid -->
                </div><!-- /isotope-grid-row -->
            </div><!-- /isotope-grid-wrapper -->
        </div><!-- /container -->
    </section>
    <!-- END / PORTFOLIO 1 -->
    <!-- COUNTER 3 -->
    <section class="section bg-white pt-60 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="counter">
                        <p class="count-number">{$goods_c}+</p>
                        <h3>产品</h3>
                    </div><!-- /counter -->
                </div><!-- /col -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="counter">
                        <p class="count-number">{$dealer_c}+</p>
                        <h3>合作伙伴</h3>
                    </div><!-- /counter -->
                </div><!-- /col -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="counter">
                        <p class="count-number">{$dealer_c * 5}+</p>
                        <h3>合作店铺</h3>
                    </div><!-- /counter -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
        <div class="stat-trigger"></div>
    </section>
    <!-- END / COUNTER 3 -->
    <!-- TESTIMONIAL -->
    <section class="section bg-gray pt-50 pb-50">
        <div class="container">
            <h2 class="section-header center">与你同在</h2>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="testimonial testimonial-slider" data-number-slide="2">
                    {volist name="video" id="vo"}
                        <div class="item">
                            <div class="testimonial-status"></div>
                            <img src="/static/admin/videos/{$vo.vimgpath}/{$vo.vimgname}" alt="" width="40" height="30">
                            <div class="testimonial-author clearfix">
                                <h4 class="text-uppercase text-left "><a href="{:url('Video/content','id='.$vo['id'])}">{$vo.vname}</a></h4>
                            </div><!-- /testimonial-author -->
                        </div><!-- /item -->
                    {/volist}
                    </div><!-- /testimonial -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / TESTIMONIAL -->
    <!-- NEWS -->
    <section class="section bg-white pt-60 pb-20">
        <div class="container">
            <div class="section-header">健康 <span>资讯</span></div>
            <div class="row">
            {volist name="healthy" id="vo"}
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <article class="post post-style-2">
                        <div class="post-thumbnail hover-link">
                            <img src="/static/admin/uploads/{$vo.images}" alt="" />
                            <a href="{:url('Healthy/content','id='.$vo['id'])}" class="overlay"><i class="ilmosys-link-2"></i></a>
                        </div><!--/ post-thumbnail -->
                        <header class="entry-header">
                            <h2 class="entry-title title-bold h5" data-number-line="2"><a href="news-single.html">{$vo.title}</a></h2>
                        </header>
                        <div class="entry-content">
                            <p data-number-line="4">{$vo.content}</p>
                        </div><!-- /entry-content -->
                        <footer class="entry-footer">
                            <span class="posted-on"><i class="ilmosys-calendar-3"></i>{$vo.ctimes}</span>
                        </footer>
                    </article>
                </div>
            {/volist}
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / NEWS -->
{include file='Public/footer'}
</div><!-- /page-wrap -->
{include file='Public/script_js'}

