{include file='Public/link_css'}
<!-- PRELOAD -->
<div id="preload" class="preload">
    <div class="flat"></div>
    <div class="square"></div>
    <div class="square-2"></div>
    <div class="square-3"></div>
    <div class="square-4"></div>
</div>
<!-- /END PRELOAD -->
<!-- HEADER 1 -->
<header class="header head4">
    <div class="searchbar searchbar-light">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-search"></span></span>
                <input type="text" name="search" value="" placeholder="Search" />
                <span class="input-group-btn"><button type="button" class="btn-close"></button></span>
            </div><!-- /input-group -->
        </div><!-- /container -->
    </div><!-- /searchbar -->
    <div class="main-header main-header-4">
        <div class="container">
            <!-- LOGO -->
            <div class="logo">
                <a href="index.html"><img src="__PUBLIC__/img/logo_white_txt.png" alt="logo" /></a>
            </div><!-- /#logo -->
            <!-- END / LOGO -->

            <!-- MOBILE MENU -->
            <div class="mobile-nav-menu" data-menu-number="4">
                <span class="icon">&nbsp;</span>
            </div><!-- /mobile-nav-menu -->
            <!-- /END MOBILE MENU -->

            <!-- SEARCH BUTTON -->
            <div class="search-btn"><span class="fa fa-search"></span></div>
            <!-- END / SEARCH BUTTON -->

            <!-- NAVIGATION -->
            <nav class="navigation nav4" data-menu-type="1199">
                <ul class="nav text-uppercase">
                    <li><a href="{:url('Index/index')}">首页</a></li>
                    <li><a href="{:url('About/index')}">关于我们</a></li>
                    <li><a href="{:url('Service/index')}">健保专栏</a></li>
                    <li><a href="{:url('News/index')}">健保资讯</a></li>
                    <li><a href="{:url('Goods/index')}">健保目录</a></li>
                    <li><a href="{:url('Contact/index')}">加入我们</a></li>
                </ul><!-- /nav -->
            </nav>
            <!-- END / NAVIGATION -->
        </div><!-- /container -->
    </div><!-- /main-header -->
</header>

<!-- END / HEADER 1 -->

<div id="page-wrap">
    <!-- HOME MEDIA -->
   {include file='Public/banner'}
    <!-- END / HOME MEDIA -->
    <!-- SERVICE -->
    <section class="section bg-white pt-50 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-header">最新&nbsp;<span>活动</span></div>
                    <div class="post-thumbnail hover-link">
                        <img src="__PUBLIC__/img/service/1.jpg" alt="" />
                        <a href="#" class="overlay"><i class="ilmosys-link-2"></i></a>
                    </div><!--/ post-thumbnail -->
                    <span class="lead">文章名称</span>
                    <div class="mb-30">
                        <a href=""><li class="list-unstyled">Lorem ipsum dolor sit amet, 4</li></a>
                    </div>
                    <a href="#" class="btn btn-primary radius mb-30 ">了解更多...</a>
                </div><!-- /col -->

                <div class="col-md-4">
                    <div class="section-header">行业&nbsp;<span>动态</span></div>
                    <div class="post-thumbnail hover-link">
                        <img src="__PUBLIC__/img/service/2.jpg" alt="" />
                        <a href="#" class="overlay"><i class="ilmosys-link-2"></i></a>
                    </div><!--/ post-thumbnail -->
                    <span class="lead">文章名称</span>
                    <div class="mb-30">
                        <a href=""><li class="list-unstyled">Lorem ipsum dolor sit amet, 4</li></a>
                    </div>
                    <a href="#" class="btn btn-primary radius mb-30 ">了解更多...</a>
                </div><!-- /col -->

                <div class="col-md-4">
                    <div class="section-header">理赔&nbsp;<span>公告</span></div>
                    <div class="post-thumbnail hover-link">
                        <img src="__PUBLIC__/img/service/3.jpg" alt="" />
                        <a href="#" class="overlay"><i class="ilmosys-link-2"></i></a>
                    </div><!--/ post-thumbnail -->
                    <span class="lead">文章名称</span>
                    <div class="mb-30">
                        <a href=""><li class="list-unstyled">Lorem ipsum dolor sit amet, 4</li></a>
                    </div>
                    <a href="#" class="btn btn-primary radius mb-30 ">了解更多...</a>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / SERVICE -->
   <!--  ICON BOX
    <section class="section bg-gray pt-20 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-3 col-xs-12 pt-70">
                    <div class="shifa-icon">
                        <i class="ilmosys-vpn"></i>
                        <h5 class="title-bold">Online Q & A</h5>
                        <p>A tradition of ethical and honest business conduct is the cornerstone of our business philosophy, and the foundation of our entire organization.</p>
                    </div> /shifa-icon

                    <div class="shifa-icon">
                        <i class="ilmosys-doctor"></i>
                        <h5 class="title-bold">Top Level Doctors</h5>
                        <p>A tradition of ethical and honest business conduct is the cornerstone of our business philosophy, and the foundation of our entire organization.</p>
                    </div> /shifa-icon
                </div> /col

                <div class="col-lg-4 col-sm-3 col-xs-12 pt-70">
                    <div class="shifa-icon">
                        <i class="ilmosys-wrench"></i>
                        <h5 class="title-bold">24 Hour Service</h5>
                        <p>A tradition of ethical and honest business conduct is the cornerstone of our business philosophy, and the foundation of our entire organization.</p>
                    </div> /shifa-icon

                    <div class="shifa-icon">
                        <i class="ilmosys-medical-sign"></i>
                        <h5 class="title-bold">dispense medicine</h5>
                        <p>A tradition of ethical and honest business conduct is the cornerstone of our business philosophy, and the foundation of our entire organization.</p>
                    </div> /shifa-icon
                </div> /col

                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <img src="__PUBLIC__/img/doctor.png" alt="" />
                </div> /col
            </div> /row
        </div> /container
    </section>
     END / ICON BOX -->
    <!-- OUR Team -->
    <section class="section bg-white pt-60 pb-30">
        <div class="container">
            <div class="section-header" data-section-center="767">我们的&nbsp;<span>团队</span></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="team-leader">
                        <div class="avatar hover-link">
                            <img src="__PUBLIC__/img/team/1.jpg" alt="" />
                            <a href="#" class="overlay"><i class="ilmosys-link-2"></i></a>
                        </div><!-- /avatar -->
                        <h4 class="h5 title-bold">运营精英</h4>
                        <h5>Ceo / Co-Founder</h5>
                        <p class="mb-20" data-number-line="5">
                            hklghg
                        </p>
                    </div><!-- /team-leader -->
                </div><!-- /col -->
                <!--<div class="clearfix visible-sm"></div>-->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / OUR LEADERS -->
    <!-- PORTFOLIO 1 -->
    <section class="section bg-gray pt-60 pb-60">
        <div class="bg-gray"></div>
        <div class="container">
            <div class="section-header" data-section-center="767">我们的<span>产品</span></div>
            <!-- FILTER -->
            <ul class="portfolio-selector filters" data-portfolio-type="991">
                <li><a href="#" data-filter="*">All</a></li>
                <li><a href="#" data-filter=".office">Doctor</a></li>
                <li><a href="#" data-filter=".building">Checkup</a></li>
                <li><a href="#" data-filter=".museum">Research</a></li>
                <li><a href="#" data-filter=".urban">Laboratory</a></li>
                <li><a href="#" data-filter=".house">Hospital</a></li>
            </ul><!-- /portfolio-selector -->
            <!-- END / FILTER -->

            <div class="isotope-grid-wrapper" data-isotope-column="4" data-column-gap="30" data-column-md="3" data-column-sm="2" data-column-xs="1" data-column-tn="1">
                <div class="isotope-grid-row">
                    <div class="isotope-grid">
                        <div class="grid-sizer"></div>
                        <!-- <div class="gutter-sizer"></div> -->
                        <div class="portfolio-item office">
                            <div class="portfolio-media hover-link">
                                <img src="__PUBLIC__/img/portfolio/1.jpg" alt="" />
                                <a href="#" class="overlay"><i class="ilmosys-link-2"></i></a>
                            </div><!-- /hover-link -->
                        </div><!-- /portfolio-item -->
                        <div class="portfolio-item building">
                            <div class="portfolio-media hover-link">
                                <img src="__PUBLIC__/img/portfolio/2.jpg" alt="" />
                                <a href="#" class="overlay"><i class="ilmosys-link-2"></i></a>
                            </div><!-- /hover-link -->
                        </div><!-- /portfolio-item -->
                        <div class="portfolio-item museum">
                            <div class="portfolio-media hover-link">
                                <img src="__PUBLIC__/img/portfolio/3.jpg" alt="" />
                                <a href="#" class="overlay"><i class="ilmosys-link-2"></i></a>
                            </div><!-- /hover-link -->
                        </div><!-- /portfolio-item -->
                        <div class="portfolio-item building">
                            <div class="portfolio-media hover-link">
                                <img src="__PUBLIC__/img/portfolio/4.jpg" alt="" />
                                <a href="#" class="overlay"><i class="ilmosys-link-2"></i></a>
                            </div><!-- /hover-link -->
                        </div><!-- /portfolio-item -->
                        <div class="portfolio-item urban">
                            <div class="portfolio-media hover-link">
                                <img src="__PUBLIC__/img/portfolio/5.jpg" alt="" />
                                <a href="#" class="overlay"><i class="ilmosys-link-2"></i></a>
                            </div><!-- /hover-link -->
                        </div><!-- /portfolio-item -->
                        <div class="portfolio-item museum">
                            <div class="portfolio-media hover-link">
                                <img src="__PUBLIC__/img/portfolio/6.jpg" alt="" />
                                <a href="#" class="overlay"><i class="ilmosys-link-2"></i></a>
                            </div><!-- /hover-link -->
                        </div><!-- /portfolio-item -->
                        <div class="portfolio-item urban">
                            <div class="portfolio-media hover-link">
                                <img src="__PUBLIC__/img/portfolio/7.jpg" alt="" />
                                <a href="#" class="overlay"><i class="ilmosys-link-2"></i></a>
                            </div><!-- /hover-link -->
                        </div><!-- /portfolio-item -->
                        <div class="portfolio-item house">
                            <div class="portfolio-media hover-link">
                                <img src="__PUBLIC__/img/portfolio/8.jpg" alt="" />
                                <a href="#" class="overlay"><i class="ilmosys-link-2"></i></a>
                            </div><!-- /hover-link -->
                        </div><!-- /portfolio-item -->
                    </div><!-- /isotope-grid -->
                </div><!-- /isotope-grid-row -->
            </div><!-- /isotope-grid-wrapper -->
        </div><!-- /container -->
    </section>
    <!-- END / PORTFOLIO 1 -->
    <!-- COUNTER 3 -->
    <section class="section bg-white pt-60 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="counter">
                        <p class="count-number">429+</p>
                        <h3>产品</h3>
                    </div><!-- /counter -->
                </div><!-- /col -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="counter">
                        <p class="count-number">530+</p>
                        <h3>合作伙伴</h3>
                    </div><!-- /counter -->
                </div><!-- /col -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="counter">
                        <p class="count-number">1287+</p>
                        <h3>合作店铺</h3>
                    </div><!-- /counter -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
        <div class="stat-trigger"></div>
    </section>
    <!-- END / COUNTER 3 -->
    <!-- TESTIMONIAL -->
    <section class="section bg-gray pt-50 pb-50">
        <div class="container">
            <h2 class="section-header center">与你同在</h2>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="testimonial testimonial-slider" data-number-slide="2">
                        <div class="item">
                            <div class="testimonial-status"></div>
                            <img src="__PUBLIC__/img/portfolio/1.jpg" alt="" width="40" height="30">
                            <div class="testimonial-author clearfix">
                                <h4 class="text-uppercase text-left ">视频名称</h4>
                            </div><!-- /testimonial-author -->
                        </div><!-- /item -->
                    </div><!-- /testimonial -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / TESTIMONIAL -->
    <!-- NEWS -->
    <section class="section bg-white pt-60 pb-20">
        <div class="container">
            <div class="section-header">行业 <span>动态</span></div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <article class="post post-style-2">
                        <div class="post-thumbnail hover-link">
                            <img src="__PUBLIC__/img/post/1.jpg" alt="" />
                            <a href="news-single.html" class="overlay"><i class="ilmosys-link-2"></i></a>
                        </div><!--/ post-thumbnail -->
                        <header class="entry-header">
                            <h2 class="entry-title title-bold h5" data-number-line="2"><a href="news-single.html">Your Medical Record Are Safe</a></h2>
                        </header>
                        <div class="entry-content">
                            <p data-number-line="4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, </p>
                        </div><!-- /entry-content -->
                        <footer class="entry-footer">
                            <span class="posted-on"><i class="ilmosys-calendar-3"></i><a href="#">July 10, 2017</a></span>
                            <span class="comments-link"><i class="ilmosys-up-4"></i><a href="#">No comment</a></span>
                        </footer>
                    </article><!-- /post -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / NEWS -->
{include file='Public/footer'}
</div><!-- /page-wrap -->
{include file='Public/script_js'}

