{include file='Public/link_css'}
<!-- PRELOAD -->
<div id="preload" class="preload">
    <div class="flat"></div>
    <div class="square"></div>
    <div class="square-2"></div>
    <div class="square-3"></div>
    <div class="square-4"></div>
</div>
<!-- /END PRELOAD -->

<!-- HEADER 4 -->
{include file='Public/header'}
<div id="page-wrap">
    <!-- SUB HEADER -->
    <section id="sub-header" class="section bg-parallax pt-80 pb-0" data-background="img/bg/pagebg2.jpg">
        <div class="bg-overlay-black bg-overlay-5"></div>
        <div class="container">
            <div class="sub-wrapper">
                <h1>最新动态</h1>
                <h4>If you’d like to talk to us about a project, or anything else, we’d love to hear from you.</h4>

                
            </div><!-- /sub-wrapper -->
        </div><!-- /container -->
    </section>
    <!-- END / SUB HEADER -->

    <!-- CONTENT -->
    <section class="section bg-white pt-70 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div id="content" class="site-content">
                        <main id="main">
                            <article class="post format-standard mb-40">
                                <div class="post-thumbnail">
                                    <img src="/static/admin/uploads/{$content.images}" alt="" />
                                    <!-- <a href="news-single.html" class="overlay"><i class="fa fa-link"></i></a> -->
                                    <span class="latest">动态</span>
                                </div><!--/ post-thumbnail -->

                                <header class="entry-header">
                                    <h2 class="entry-title h4"><a href="news-single.html">{$content.title}</a></h2>
                                    <span class="byline">发表 <a href="#">中建宝</a> - </span>
                                    <span class="posted-on"><a href="#">{$content.ctimes}</a> - </span>
                                    <span>张贴<a href="#">在动态中心</a>, <a href="#">重要信息</a></span>
                                </header><!-- /header -->

                                <div class="entry-content">
                                    <p>{$content.content}</p>
                                    <br />
                                </div><!-- /entry-content -->
                                </footer><!-- /entry-footer -->
                            </article><!-- /post -->
                            <!-- AUTHOR -->
                        </main>
                    </div><!-- /site-content -->
                </div><!-- /col -->

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div id="sidebar" class="sidebar">
                        <div id="widget-area">
                            <aside class="widget widget_search">
                                <form action="http://envato.megadrupal.com/html/shifa/search" method="post">
                                    <div class="input-group">
                                        <input type="search" class="search-field" placeholder="Search..." value="" name="s" title="Search for:">
                                        <span class="input-group-btn"><button type="submit" class="btn"><span class="fa fa-search"></span></button></span>
                                    </div>
                                </form>
                            </aside><!-- /widget_search -->

                            <aside class="widget widget_categories">
                                <h3 class="widget-title h5"><a href="{:url('Dynamic/index')}">最新动态</a></h3>
                                <ul>
                                    <li class="cat-item">
                                        <ul class="children">
                                            <li class="cat-item">
                                                <a href="{:url('Dynamic/index','state=0')}">最新活动</a>
                                            </li>
                                            <li class="cat-item">
                                                <a href="{:url('Dynamic/index','state=1')}">行业动态</a>
                                            </li>
                                            <li class="cat-item">
                                                <a href="{:url('Dynamic/index','state=2')}">公告通知</a>
                                            </li>
                                            <li class="cat-item">
                                                <a href="{:url('Dynamic/index','state=3')}">公益活动</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </aside><!-- /widget_categories -->
                        </div><!-- /widget-area -->
                    </div><!-- /sidebar -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / CONTENT -->

    <!-- FOOTER -->

    <!-- END / FOOTER -->
</div><!-- /page-wrap -->

<!-- JQUERY -->
{include file='Public/script_js'}
