{include file='Public/link_css'}
<!-- PRELOAD -->
<div id="preload" class="preload">
    <div class="flat"></div>
    <div class="square"></div>
    <div class="square-2"></div>
    <div class="square-3"></div>
    <div class="square-4"></div>
</div>
<!-- /END PRELOAD -->

<!-- HEADER 4 -->
{include file='Public/header'}<!-- /header -->
<!-- END / HEADER 4 -->

<div id="page-wrap">
    <!-- SUB HEADER -->
    <section id="sub-header" class="section bg-parallax pb-0" data-background="img/bg/contact.jpg">
        <div class="bg-overlay-black bg-overlay-5"></div>
        <div class="container">
            <div class="sub-wrapper">
                <h1>Contact us</h1>
                <h4>If you’d like to talk to us about a project, or anything else, we’d love to hear from you.</h4>
                <!--<div class="breadcrumb-container clearfix">-->
                    <!--<span></span>-->
                    <!--<ul class="breadcrumb">-->
                        <!--<li><a href="#">Home</a></li>-->
                        <!--<li><a href="#">Page</a></li>-->
                        <!--<li>Contact us</li>-->
                    <!--</ul>-->
                <!--</div>&lt;!&ndash; /breadcrumb &ndash;&gt;-->
            </div><!-- /sub-wrapper -->
        </div><!-- /container -->
    </section>
    <!-- END / SUB HEADER -->
    <!-- CONTENT -->
    <section class="section bg-white pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-4" >
                    <div id="content" class="site-content" >
                        <form class="form-horizontal">
                            <div class="form-group ">
                                <label for="username" class="col-sm-2 control-label" style="font-size: 18px;">账　户：</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control input-lg" id="username" placeholder="用户名">
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="form-group">
                                <label for="pwd" class="col-sm-2 control-label" style="font-size: 18px;">密　码：</label>
                                <div class="col-sm-4">
                                    <input type="password" class="form-control input-lg" id="pwd" placeholder="密　码">
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="form-group"></div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" class="btn btn-primary">登　入</button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /site-content -->
                </div><!-- /col -->
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div id="sidebar" class="sidebar">
                        <div id="widget-area">
                            <aside class="widget widget_text">
                                <!---<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13251.372477946246!2d151.20128974429977!3d-33.86793372362399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae401e8b983f%3A0x5017d681632ccc0!2sSydney+NSW%2C+Australia!5e0!3m2!1sen!2s!4v1450842593491" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>--->
                            </aside><!-- /widget_text -->
                        </div><!-- /widget-area -->
                    </div><!-- /sidebar -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / CONTENT -->
    <!-- FOOTER -->
    {include file='Public/footer'}
    <!-- END / FOOTER -->
</div><!-- /page-wrap -->
{include file='Public/script_js'}