{include file='public/link-css'}

<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
{include file='public/header'}
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    {include file='public/left-menu'}
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div id="portlet-config" class="modal hide">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"></button>
                <h3>Widget Settings</h3>
            </div>
            <div class="modal-body">
                <p>Here will be a configuration form</p>
            </div>
        </div>
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-reorder"></i>商品详情</div>
                            <div class="tools">
                                <a href="{:url('Goods/goods_list')}" >返回</a>
                                <a href="javascript:;" class="collapse"></a>
                            </div>
                        </div>
                        <div class="portlet-body form ">
                            <!-- BEGIN FORM-->
                            <form action="" id="form_sample_2" method="post" class="form-horizontal" enctype="multipart/form-data" >
                                {volist name="goods_info" id="gi" }
                                <div class="control-group">
                                    <div class="controls" data-toggle="tooltip" id="goodsName">
                                        <label class="control-label">商品名称<span class="required">*</span></label>
                                        <input type="text" name="name" data-required="1" class="span6 m-wrap"  value="{$gi.name}" readonly/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">商品价格<span class="required">*</span></label>
                                        <input name="price" type="text" class="span6 m-wrap" value="{$gi.price}" readonly/>
                                    </div>

                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">商品图片<span class="required">*</span></label>
                                        <!--<div class="fileupload fileupload-new" data-provides="fileupload">-->
                                            <!--<div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">-->
                                                <img src="__PUBLIC__/uploads/{$gi.imgpath}/{$gi.imgname}" alt="" width="80" />
                                            <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">报销比例<span class="required">*</span></label>
                                        <input name="sales" type="text" class="span6 m-wrap" value="{$gi.sales}" readonly/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">实结<span class="required">*</span></label>
                                        <input name="setlment" type="text" class="span6 m-wrap" value="{$gi.setlment}" readonly/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">积分<span class="required">*</span></label>
                                        <input name="integral" type="text" class="span6 m-wrap" value="{$gi.integral}" readonly/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">关键字<span class="required">*</span></label>
                                        <input name="keyword" type="text" class="span6 m-wrap" value="{$gi.keyword}" readonly/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">商品类型<span class="required">*</span></label>
                                        <input type="text" class="span6 m-wrap" value="{$gi.catename}" readonly>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">推荐位置<span class="required">*</span></label>
                                        <select class="small m-wrap" name="goods_state" readonly="readonly">
                                            <option value="Category 1">Category 1</option>
                                            <option value="Category 2">Category 2</option>
                                            <option value="Category 3">Category 5</option>
                                            <option value="Category 4">Category 4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">商品说明<span class="required">*</span></label>
                                        <textarea class="medium m-wrap" rows="3" name="descript" readonly="readonly">{$gi.descript}</textarea>
                                    </div>
                                </div>
                              {/volist}
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                    <!-- END VALIDATION STATES-->
                </div>
            </div>
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- BEGIN PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{include file='public/footer'}
<!-- END FOOTER -->
</body>
{include file='public/script-js'}
<script>
    // $('#back').on('click',function () {
    //     location.history;
    // })
</script>
</html>