{include file='public/link-css'}
<!-- BEGIN BODY -->
    <style type="text/css">
.demo {display: inline-block;*display: inline;*zoom: 1;width: 140px;height: 20px;line-height: 20px;font-size: 12px;overflow: hidden;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;}
.demo:hover {height: auto;white-space: normal;}
    </style>

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

{include file='public/header'}

<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container row-fluid">

    <!-- BEGIN SIDEBAR -->

    {include file='public/left-menu'}

    <!-- END SIDEBAR -->

    <!-- BEGIN PAGE -->

    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>Widget Settings</h3>

            </div>

            <div class="modal-body">

                <p>Here will be a configuration form</p>

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div class="container-fluid text-center">

            <div class="row-fluid ">

                <div class="" data-tablet="span12 fix-offset" data-desktop="span6">

                    <!-- BEGIN EXAMPLE TABLE PORTLET-->

                    <div class="portlet box grey ">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-user"></i>友情链接</div>
                            <div class="actions">
                                <a href="{:url('Link/link_add')}" class="btn blue"><i class="icon-pencil"></i>添加友情</a>
                            </div>
                        </div>
                        <label>
                            <form action="{:url('Link/link_search')}" enctype="multipart/form-data" method="post" class="form-horizontal">
                                链 接 名 :
                                <input name="name" type="text" aria-controls="sample_1">
                                <button type="submit" class="btn blue">搜索</button>
                            </form>
                        </label>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_2">
                                <thead>
                                <tr>
                                    <th class="hidden-480" style="text-align: center;">ID</th>
                                    <th class="hidden-480" style="text-align: center;">链接名</th>
                                    <th class="hidden-480" style="text-align: center;">信息联接地址</th>
                                    <th class="hidden-480" style="text-align: center;">发布时间</th>
                                    <th class="hidden-480"  style="text-align: center;">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                    {volist name='list' id='vo'}
                                <tr class="odd gradeX ">
                                    <td style="text-align: center;">{$vo.id}</td>
                                    <td style="text-align: center;">{$vo.name}</td>
                                    <td style="text-align: center;">{$vo.url}</td>
                                    <td style="text-align: center;">{$vo.ctimes}</td>
                                    <td style="text-align: center;">
                                        <a href="{:url('Link/link_see','id='.$vo['id'])}"><i class="icon-ban-circle"></i>查看</a>
                                        <a href="{:url('Link/link_status','id='.$vo['id'])}"><i class="icon-ban-circle"></i>{if condition="$vo.status eq 0"} 禁用 {else} 启用 {/if}</a>
                                        <a href="{:url('Link/link_edit','id='.$vo['id'])}"><i class="icon-pencil"></i>修改</a>
                                        <a onclick="return remove('{:url('Link/link_delete','id='.$vo['id'])}')"><i class="icon-trash"></i>删除</a>
                                     </td>
                                </tr>
                    {/volist}
                                </tbody>
                            </table>
                    {$page}
                        </div>
                        </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- BEGIN PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{include file='public/footer'}
<!-- END FOOTER -->
{include file='public/script-js'}
</body>
<!-- END BODY -->
<script>
    function remove(url){
         var confrim=confirm("确定删除？");
         if(confrim==true)
         {
            window.location.href=url;
         }
    }
</script>
</html>