{include file='public/link-css'}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-fileupload.css"/>
<!--<link href="__PUBLIC__/css/main.css" rel="stylesheet">-->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
{include file='public/header'}
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    {include file='public/left-menu'}
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div id="portlet-config" class="modal hide">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"></button>
                <h3>Widget Settings</h3>
            </div>
            <div class="modal-body">
                <p>Here will be a configuration form</p>
            </div>
        </div>
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-reorder"></i>会员信息</div>
                            <div class="tools">
                                <a href="{:url('Member/member_list')}" >返回</a>
                                <a href="javascript:;" class="collapse"></a>
                            </div>
                        </div>
                        <div class="portlet-body form ">
                            <!-- BEGIN FORM-->
                            <form action="{:url('Member/member_info_add')}" id="form_sample_2" method="post"
                                  class="form-horizontal" enctype="multipart/form-data">
                                <div class="control-group">
                                    <div class="controls" data-toggle="tooltip">
                                        <label class="control-label">会员姓名<span class="required">*</span></label>
                                        <input type="text" name="username" data-required="1" class="span4 m-wrap"
                                               value="{$member_info.username}" readonly/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">性别<span class="required">*</span></label>
                                        <input type="text" name="sex" class="span4 m-wrap" value="{$member_info.sex==0 ? '男' : '女'}" readonly/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">正面照片<span class="required">*</span></label>
                                        <img src="__PUBLIC__/{$member_info.upath}/{$member_info.uimg}" alt="" width="80"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls" data-toggle="tooltip">
                                        <label class="control-label">身份证号<span class="required">*</span></label>
                                        <input type="text" name="cardnum" data-required="1" class="span4 m-wrap"
                                               value="{$member_info.cardnum}" readonly/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">身份证<span class="required">*</span></label>
                                        <img src="__PUBLIC__/{$member_info.upath}/{$member_info.ucdimg}" alt="" width="80" disabled="disabled"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">手机号<span class="required">*</span></label>
                                        <input name="mobel" type="text" class="span4 m-wrap" value="{$member_info.mobel}" readonly/>
                                    </div>
                                </div>
                                <div class="control-group ">
                                    <div class="controls">
                                        <label class="control-label">所属地区<span class="required">*</span></label>
                                        <input type="text" class="span4 m-wrap" value="{$member_info.province}{$member_info.city}{$member_info.district}" readonly>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">所属经销商<span class="required">*</span></label>
                                        <input type="text" class="span4 m-wrap" value="{$member_info.did}" readonly>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">会员等级<span class="required">*</span></label>
                                        <input type="text" class="span4 m-wrap" value="{$member_info.mleve}" readonly>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                    <!-- END VALIDATION STATES-->
                </div>
            </div>
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- BEGIN PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{include file='public/footer'}
<!-- END FOOTER -->
</body>
{include file='public/script-js'}
</html>