{include file='public/link-css'}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-fileupload.css" />
<!-- BEvoN BODY -->
<body class="page-header-fixed">
<!-- BEvoN HEADER -->
{include file='public/header'}
<!-- END HEADER -->
<!-- BEvoN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEvoN SIDEBAR -->
    {include file='public/left-menu'}
    <!-- END SIDEBAR -->
    <!-- BEvoN PAGE -->
    <div class="page-content">
        <!-- BEvoN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div id="portlet-config" class="modal hide">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"></button>
                <h3>Widget Settings</h3>
            </div>
            <div class="modal-body">
                <p>Here will be a configuration form</p>
            </div>
        </div>
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div class="container-fluid">
            <div class="row-fluid ">
                <div class="span12 ">
                    <!-- BEvoN VALIDATION STATES-->
                    <div class="portlet box green ">
                        <div class="portlet-title ">
                            <div class="caption"><i class="icon-reorder"></i>视频编辑</div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>
                            </div>
                        </div>
                        <div class="portlet-body form ">
                            <!-- BEvoN FORM-->
                            <form action="{:url('Video/video_info_edit')}" id="form_sample_2" method="post" class="form-horizontal" enctype="multipart/form-data" >
                                {volist name="video_info" id="vo" }
                                <div class="control-group">
                                    <div class="controls" data-toggle="tooltip" id="videosName">
                                        <label class="control-label">视频名称<span class="required">*</span></label>
                                        <input type="text" name="vname" data-required="1" class="span6 m-wrap"  value="{$vo.vname}"/>
                                        <input type="hidden" name="id"  value="{$vo.id}"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">视频图片<span class="required">*</span></label>
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                                <img src="__PUBLIC__/videos/{$vo.vimgpath}/{$vo.vimgname}" alt="" />
                                            </div>
                                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                            <div style="margin-left: 210px;">
													<span class="btn btn-file"><span class="fileupload-new">添加图片</span>
													<span class="fileupload-exists">重选</span>
													<input type="file" class="default" name="vimg"/></span>
                                                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">移除</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">关键字<span class="required">*</span></label>
                                        <input name="keyword" type="text" class="span6 m-wrap" value="{$vo.keyword}"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">视频类型<span class="required">*</span></label>
                                        <select class="span6 m-wrap" name="states">
                                            <option value="{$vo.states}">{$vo.typename}</option>
                                            {volist name='video_cate' id='vc'}
                                            <option value="{$vc.id}">|-{$vc.typename}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label">视频说明<span class="required">*</span></label>
                                        <textarea class="medium m-wrap" rows="3" name="descript" >{$vo.descript}</textarea>
                                    </div>
                                </div>
                                <div class="form-actions text-center">
                                    <button type="submit" class="btn green">提交</button>
                                    <button type="button" class="btn default" id="back">取消</button>
                                </div>
                                {/volist}
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                    <!-- END VALIDATION STATES-->
                </div>
            </div>
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- BEvoN PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEvoN FOOTER -->
{include file='public/footer'}
<!-- END FOOTER -->
</body>
{include file='Public/script-js'}
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-fileupload.js"></script>
<script>
    $('#form_sample_2').submit(function() {         //使用ajax的submit提交方法进行表单提交
        $(this).ajaxSubmit(function(res) {
            if(res.code ===1){
                layer.msg(res.msg, {icon: 6, time: 2300}, function () {
                    location.href = res.url;
                })
            }else{
                layer.msg(res.msg, {icon: 2, time: 800}, function () {
                    location.href = res.url;
                })
            }
        });
        return false; //阻止表单默认提交
    });
    $('#back').on('click',function () {
         location.href="{:url('Video/video_list')}";
    })
</script>
</html>