{include file='Public/link_css'}
<!-- PRELOAD -->
<div id="preload" class="preload">
    <div class="flat"></div>
    <div class="square"></div>
    <div class="square-2"></div>
    <div class="square-3"></div>
    <div class="square-4"></div>
</div>
<!-- /END PRELOAD -->

<!-- HEADER 4 -->
{include file='Public/header'}<!-- /header -->
<!-- END / HEADER 4 -->



<div id="page-wrap">
    <!-- SUB HEADER -->
    <section id="sub-header" class="section bg-parallax pt-80 pb-0" data-background="__PUBLIC__/img/bg/pagebg.jpg">
        <div class="bg-overlay-black bg-overlay-5"></div>
        <div class="container">
            <div class="sub-wrapper">
                <h1>关于我们</h1>
                <h4>If you’d like to talk to us about a project, or anything else, we’d love to hear from you.</h4>
            </div><!-- /sub-wrapper -->
        </div><!-- /container -->
    </section>
    <!-- END / SUB HEADER -->

    <!-- CONTENT -->
    <section class="section bg-white pt-70 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-2 col-xs-12">
                    <div id="content" class="site-content">
                        <main id="main">
                            <div class="page-grid">
                                <!-- GRID 9 COLUMNS -->
                                <div class="page-content col-3">
                                    <h2 class="section-header">公司简介</h2>
                                    <p>111.</p>
                                </div><!-- /page-content -->

                                <div class="page-media col-6">
                                    <img src="__PUBLIC__/img/about/1.jpg" alt="" />
                                </div><!-- /page-media -->

                            </div><!-- /page-grid -->
                        </main><!-- /main -->
                    </div><!-- /sidebar -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / CONTENT -->

    <!-- ICON BOX -->
    <section class="section bg-gray pt-20 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-3 col-xs-12 pt-70">
                    <div class="shifa-icon">
                        <i class="ilmosys-vpn"></i>
                        <h5 class="title-bold">Online Q & A</h5>
                        <p>A tradition of ethical and honest business conduct is the cornerstone of our business philosophy, and the foundation of our entire organization.</p>
                    </div><!-- /shifa-icon -->

                    <div class="shifa-icon">
                        <i class="ilmosys-doctor"></i>
                        <h5 class="title-bold">Top Level Doctors</h5>
                        <p>A tradition of ethical and honest business conduct is the cornerstone of our business philosophy, and the foundation of our entire organization.</p>
                    </div><!-- /shifa-icon -->
                </div><!-- /col -->

                <div class="col-lg-4 col-sm-3 col-xs-12 pt-70">
                    <div class="shifa-icon">
                        <i class="ilmosys-wrench"></i>
                        <h5 class="title-bold">24 Hour Service</h5>
                        <p>A tradition of ethical and honest business conduct is the cornerstone of our business philosophy, and the foundation of our entire organization.</p>
                    </div><!-- /shifa-icon -->

                    <div class="shifa-icon">
                        <i class="ilmosys-medical-sign"></i>
                        <h5 class="title-bold">dispense medicine</h5>
                        <p>A tradition of ethical and honest business conduct is the cornerstone of our business philosophy, and the foundation of our entire organization.</p>
                    </div><!-- /shifa-icon -->
                </div><!-- /col -->

                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <img src="__PUBLIC__/img/doctor.png" alt="" />
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / ICON BOX -->
{include file='Public/footer'}
</div><!-- /page-wrap -->
{include file='Public/script_js'}
